.sidebar {
    display: none;
    box-shadow: 0px 0px 40px rgba(29, 33, 38, 0.13), 0px 0px 2px rgba(29, 33, 38, 0.1);

    z-index: 20;
    position: fixed;
    transition: 0.2s ease-in;

    height: 100vh;
    width: 317px;
    left: -317px;
    top: 0;

    background: #fff;
}

.sidebar.open {
    width: 317px;
    height: 720px;
    position: absolute;

    display: flex;

    transition: 0.2s ease-out;

    left: 0;
    box-shadow: 0 10px 40px rgba(29, 33, 38, 0.13),
    0 1px 2px rgba(29, 33, 38, 0.1);
}

.background {
    z-index: 10;
    position: fixed;

    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.3);
}

.nav {
    display: flex;
    flex-direction: column;
    margin-top: 63px;
    margin-left: 70px;
    font-size: 22px;
}

.nav a {
    color: #000000;
    display: block;
    margin: 20px;
    text-decoration: none;
}

.nav a:hover {
    color: #58ACFF;
    text-decoration: underline;
}

.nav a.active {
    color: #0059B2;
}
.close {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 120px;
    border-color: transparent;
    background: transparent;
}

.close img {
    margin-top: 15px;
}
