.input:focus {
}

.input {
    width: 372px;
    height: 36px;
    left: 70px;
    top: 1461px;

    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.inputWrapper {

}

.superInput {
}

.errorInput {
    box-sizing: border-box;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    border: 1px solid #CC1439;
    border-radius: 5px;
}

.errorInput:focus {
}

.error {

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 12px;
    margin: 20px 20px;

    color: #CC1439;
}
