.buttonsContainer {
    display: flex;
    gap: 21px;
    margin-top: 60px;
}

.clock {
    width: 1280px;
    height: 372px;
    padding: 70px 45px;

}

.watch {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.watch strong {
}

.more {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    margin-top: 9px;


    color: rgba(0, 0, 0, 0.5);
}