.App {

    background: #FFFFFF;
}

.hw {
    max-width: 1200px;
    margin: 0 auto;
}

.hwTitle {
    text-align: center;
    color: #000000;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

}

.container {
    display: flex;
    flex-direction: column;
}