.button {
    color: #DDEEFF;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 3px;
    width: 150px;
    height: 30px;
}

.disabled {
    background-color: #0059b3;
    color: #212a34;
}

.secondary {
    width: 176px;
    height: 30px;
    left: 574px;
    top: 1622px;

    background: white;
    border: 1px solid #0059b3;
    color: #0066CC;
}

.default {
    background: #0066CC;
}

.red {
    background: #CC1439;
}

.default:hover {
    width: 167px;
    height: 30px;
    left: 574px;
    top: 261px;

    background: #0080FF;
    border-radius: 3px;
}

.red:hover {
    width: 167px;
    height: 30px;
    left: 574px;
    top: 315px;

    background: #FF1A47;
    border-radius: 3px;
}

.secondary:hover {
    width: 167px;
    height: 30px;
    left: 574px;
    top: 418px;

    background: #E5F0FA;
    border: 1px solid #0066CC;
    border-radius: 3px;
}


.default:active {
    background: #0059B3;
    border-radius: 3px;
}

.secondary:active {
    background: #C9E5FF;
    border: 1px solid #0066CC;
    border-radius: 3px;
}

.red:active {
    background: #B31232;
    border-radius: 3px;
}

.button:disabled {
    opacity: 0.5;
}
